#cart-message {
    float: right;
    color: #df546a;
    font-size: 12px;
    letter-spacing: 2px;
}

i:hover {
    cursor: pointer;
}

#cartIcon {
    margin: 0 0;
    padding-left: 290px;
    color: var(--card-title-color);
    font-size: 28px;
}

#squish {
    width: 600px;
    margin: 3% auto 0;
}

.return-home {
    margin-left: 15%
}


